/*
 * CSS for jsPsych experiments.
 *
 * This stylesheet provides minimal styling to make jsPsych
 * experiments look polished without any additional styles.
 */

/* Container holding jsPsych content */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');








/* fonts and type */




/* Form elements like input fields and buttons */

.jspsych-display-element input[type='text'] {
  font-size: 38px;
}

.jspsych-btn-group-grid{
  margin: 10px;
}
.jspsych-btn-group-grid .jspsych-btn{
  margin: 0 20px;
}

/* borrowing Bootstrap style for btn elements, but combining styles a bit */
.jspsych-btn {
  display: inline-block;
  padding: 6px 12px;
  margin: 0px;
  font-size: 30px;
  font-weight: 400;
  font-family: 'Nunito', 'Roboto', 'sans-serif';
  font-weight: 600;
  font-size: 0.875rem;
  cursor: pointer;
  line-height: 1.4;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: rgb(80, 80, 210);
  background-color: rgb(255, 255, 255); 
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12)  0px 1px 5px 0px;
  width: 10em;
  margin: 0 auto;
}

.jspsych-btn:hover {
  background-color: #ddd;
  border-color: #aaa;
}

.jspsych-btn:disabled {
  background-color: #eee;
  color: #aaa;
  border-color: #ccc;
  cursor: not-allowed;
}

/* jsPsych progress bar */



/* Control appearance of jsPsych.data.displayData() */
#jspsych-data-display {
  text-align: left;
}
