@import 'jspsych.css';

img,
video {
  height: auto;
}
video {
  max-width: 100%;
  margin: 0 auto;
  border: 1px solid white;
}

#jspsych-progressbar-container {
  position: relative;
  color: gray;
}

#jspsych-progressbar-inner {
  background-color: gray;
}

button:hover {
  cursor: pointer;
}

.custom-overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background: black;
  display: flex;
  justify-content: center;
}

#quit-close-btn {
  right: 0;
  position: absolute;
  top: 50%;
}

.inst-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inst-monitor {
  position: relative;
  width: 33%;
  height: 33%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#monitor-group {
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.inst-screen img {
  width: 67%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  transform: translateY(-5.25%);
}

#monitor-group .inst-screen img {
  width: 95%;
}

.inst-text {
  text-align: start;
  margin-left: 5%;
  width: 67%;
}

.underlined {
  text-decoration: underline;
}

#task-input {
  font-size: larger;
  margin: 5%;
}
