//@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);
//@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

h3 {
  font-size: 1.5rem;
  line-height: 1.8rem;
}
h2 {
  font-size: 45px;
}
h1 {
  font-size: 50px;
}

.jspsych-content-outer {
  text-align: center;
  margin: 0 auto; /* this is for overflowing content */
  font-size: 1.25rem;
  width: 100%;
  height: 100%;
  background-color: rgb(49, 49, 49);
  color: rgb(250, 250, 250);
}

.jspsych-display-element {
  display: flex;
  margin: auto;
  flex: 1 1 100%;
  background-color: rgb(49, 49, 49);
  color: rgb(250, 250, 250);
  width: 100%;
  flex-direction: column;
  overflow-y: auto;
  font-family: 'Nunito', 'Roboto', 'sans-serif';
  font-size: 1.5rem;
  line-height: 1.6em;
}

.jspsych-display-element:focus {
  outline: none;
}

.jspsych-content-wrapper,
.jspsych-content-outer-wrapper {
  height: 100%;
}

.jspsych-content {
  margin: 0 auto; /* this is for overflowing content */
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.test-phase {
  justify-content: center;
}

.jspsych-top {
  align-items: flex-start;
}

.jspsych-middle {
  align-items: center;
}

#jspsych-progressbar-container {
  color: rgb(250, 250, 255);
  background-color: rgb(20, 20, 20);
  margin-bottom: 1em;
  text-align: center;
  padding: 8px 0px;
  width: 100%;
  line-height: 1em;
  position: relative;
}

#jspsych-progressbar-container span {
  font-size: 14px;
  padding-right: 14px;
}

#jspsych-progressbar-outer {
  background-color: rgb(180, 180, 180);
  width: 50%;
  margin: auto;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
#jspsych-progressbar-inner {
  background-color: rgba(100, 100, 100);
  width: 0%;
  height: 100%;
}

.jspsych-display-element input[type='text'] {
  font-size: 38px;
}

.jspsych-btn-group-grid {
  margin: 10px;
}
.jspsych-btn-group-grid .jspsych-btn {
  margin: 0 20px;
}

/* borrowing Bootstrap style for btn elements, but combining styles a bit */
.jspsych-btn {
  display: inline-block;
  padding: 6px 12px;
  margin: 0px;
  font-weight: 400;
  font-family: 'Nunito', 'Roboto', 'sans-serif';
  font-weight: 600;
  font-size: 0.875rem;
  cursor: pointer;
  line-height: 1.4;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: rgb(180, 180, 180);
  color: rgb(255, 255, 255);
  box-shadow:
    rgba(0, 0, 0, 0.2) 0px 3px 1px -2px,
    rgba(0, 0, 0, 0.14) 0px 2px 2px 0px,
    rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
  margin: 0 auto;
}

.jspsych-btn:hover {
  background-color: rgb(100, 100, 100);
}

.jspsych-btn:disabled {
  background-color: #eee;
  color: #aaa;
  border-color: #ccc;
  cursor: not-allowed;
}

.quit-btn {
  right: 70px;
  position: absolute;
  top: 50%;
  color: rgb(100, 100, 100);
  position: absolute;
  background-color: #fff;
  transform: translateY(-50%);
  display: inline-block;
  padding: 1px 6px;
  margin: 0px;
  font-family: 'Nunito', 'Roboto', 'sans-serif';
  font-weight: 600;
  font-size: 0.875rem;
  cursor: pointer;
  line-height: 1.4;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow:
    rgba(0, 0, 0, 0.2) 0px 3px 1px -2px,
    rgba(0, 0, 0, 0.14) 0px 2px 2px 0px,
    rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
}

.quit-survey-content {
  width: 60%;
  margin: 0 auto;
}

#quit-form {
  text-align: left;
}

img,
video {
  height: auto;
}

button:hover {
  cursor: pointer;
}

.custom-overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgb(49, 49, 49);
  color: rgb(250, 250, 250);
}

.resize-page {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#resize-bar {
  height: 4px;
  width: 10cm;
  background-color: white;
  border: 3px solid #3fa0ef;
}

.warning {
  color: red;
  margin: 0 5% 0 10%;
}

.warning-box {
  width: 80%;
  margin: 15px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.warning-box p {
  vertical-align: middle;
  margin: auto;
  margin-left: 20px;
  text-align: left;
}

.bar-size-input-field {
  margin: 30px 0;
}

.skip-bar-resize {
  margin-top: 100px;
}

.custom-overlay .resize-page {
  width: 75%;
}

/* Instruction page 4 - 3 monitors in a row */
.inst-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.inst-graphic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 60vh;
}

.inst-monitor {
  width: 33%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  margin: auto;
}

.inst-screen {
  position: absolute;
  margin: auto;
  width: 31%;
  height: auto;
  transform: translateY(-15%);
}

.inst-text {
  text-align: start;
  margin-left: 5%;
  width: 80%;
}

.input-example {
  background-color: rgb(0, 0, 0);
  color: rgb(250, 250, 250);
  font-size: 0.7rem;
  line-height: 0.9rem;
  display: flex;
}

.input-content {
  margin: auto;
}

.input-content p {
  margin: 0 0 10px 0;
}

/* Instruction page 4 - 3 monitors in a row */
.group-monitors {
  position: relative;
  margin: 10px 0;
  width: auto; /* Allow width to be determined by content */
  display: flex;
  justify-content: center;
  align-items: center;
}

.group-monitors .inst-monitor {
  max-width: 100%;
  height: auto;
}

.group-monitors .inst-screen {
  max-width: 100%;
}

.group-monitors .input-example {
  max-width: 100%;
}

.input-example input {
  width: 50%;
}

.input-example .jspsych-btn {
  font-size: 0.5rem;
}

/* Instruction page 5 - Video*/
.inst-graphic video {
  width: 75%;
  margin: 0 auto;
}

/* Instruction page 6 - Test*/
.jspsych-survey-multi-choice-question {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 100px !important;
}

.underlined {
  text-decoration: underline;
}

#task-input {
  font-size: larger;
  margin: 5%;
}

.jspsych-instructions-nav {
  margin: 20px 0;
}

.photo-diode {
  width: 50px;
  height: 50px;
}

.top-left {
  position: absolute;
  left: 0px;
  top: 0px;
}

.top-right {
  position: absolute;
  right: 0px;
  top: 0px;
}

.photo-diode-hide {
  display: none;
}

.photo-diode-black {
  background-color: #000;
}

.photo-diode-white {
  background-color: #fff;
}
